*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px  10 /16 = 62.5%

  @include respond(tab-land) { // width < 1200 px?
    font-size: 56.25%; // 1rem =9 px 8/16 =56.25%
  }
  @include respond(tab-port) { // width < 900px ?
    font-size: 50%; // 1rem = 8px 8/16 = 50%
  }
  //@include respond(phone) { // width < 600px ?
  //  font-size: 32.5%; // 1rem = 6px 6/16 = 32.5%
  //}

  @include respond(big-desktop) { // width > 1800 px?
    font-size: 75%; //1rem = 12 px 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
